@import "../sass/functions.scss";

.hero,
.h-xlarge,
.h-large,
.h-medium,
.h-small,
.p-large,
.p-medium,
.p-small,
.label {
  font-family: var(--font-nunito);
}

.hero,
.h-xlarge,
.h-large,
.h-medium,
.h-small,
.p-large,
.label {
  font-weight: bold;
}

.p-medium,
.p-small {
  font-weight: 400;
}

.hero {
  font-size: rem(80);
  line-height: rem(88);

  &--mobile {
    font-size: rem(40);
    line-height: rem(48);
  }
}

.h-xlarge {
  font-size: rem(60);
  line-height: rem(72);

  &--mobile {
    font-size: rem(32);
    line-height: rem(40);
  }
}

.h-large {
  font-size: rem(40);
  line-height: rem(48);

  &--mobile {
    font-size: rem(24);
    line-height: rem(32);
  }
}

.h-medium {
  font-size: rem(24);
  line-height: rem(32);

  &--mobile {
    font-size: rem(20);
    line-height: rem(32);
  }
}

.h-small {
  font-size: rem(20);
  line-height: rem(24);

  &--mobile {
    font-size: rem(16);
    line-height: rem(24);
  }
}

.p-large {
  font-size: rem(18);
  line-height: rem(24);

  &--mobile {
    font-size: rem(16);
    line-height: rem(24);
  }
}

.p-medium {
  font-size: rem(16);
  line-height: rem(24);

  &--mobile {
    font-size: rem(14);
    line-height: rem(20);
  }
}

.p-small {
  font-size: rem(14);
  line-height: rem(24);

  &--mobile {
    font-size: rem(12);
    line-height: rem(20);
  }
}

// mono fonts

.p-mono-xlarge,
.p-mono-large,
.p-mono-medium,
.p-mono-small {
  font-family: var(--font-space-mono);
  font-weight: normal;
}

.p-mono-xlarge {
  font-size: rem(20);
  line-height: rem(24);

  &--mobile {
    font-size: rem(20);
    line-height: rem(24);
  }
}

.p-mono-large {
  font-size: rem(18);
  line-height: rem(24);

  &--mobile {
    font-size: rem(16);
    line-height: rem(24);
  }
}

.p-mono-medium {
  font-size: rem(16);
  line-height: rem(24);

  &--mobile {
    font-size: rem(14);
    line-height: rem(20);
  }
}

.p-mono-small {
  font-size: rem(14);
  line-height: rem(24);

  &--mobile {
    font-size: rem(14);
    line-height: rem(20);
  }
}
