@import "../../Utils/sass/functions.scss";

.custom-loader-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);

  width: min-content;
  height: min-content;

  transition: all 0.3s ease;
}

.custom-loader {
  width: rem(300);
  height: rem(300);
  display: grid;
  animation: s4 4s infinite;

  filter: opacity(1);
  visibility: visible;
  transition: all 0.3s ease;

  &.hide {
    filter: opacity(0);
    visibility: hidden;
    position: absolute;
  }

  @media screen and (max-width: 639px) {
    width: rem(150);
    height: rem(150);
  }

  @media screen and (max-height: 400px) {
    width: rem(150);
    height: rem(150);
  }
}

.custom-loader::before,
.custom-loader::after {
  content:"";
  grid-area: 1/1;
  border: rem(16) solid;
  border-radius: 50%;
  border-color:var(--accent-brand) var(--accent-brand) #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 2s infinite linear;
}

.custom-loader::after {
  border-color:#0000 #0000 #E4E4ED #E4E4ED;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}
