@use "assets/styles/helpers/functions";

.mobile-menu {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  background: var(--bg-primary);
  visibility: hidden;
  opacity: 0;
  transform: scale(.98);
  transform-origin: center;
  transition: transform 50ms, opacity 150ms, visibility 300ms;
  padding-top: functions.rem(100);

  &--active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}
