@use "assets/styles/modules/functions";

input.react-input {
  transition: all 0.3s ease;
  border: none;
  border-radius: functions.rem(8);
  height: functions.rem(48);
  padding-inline: functions.rem(16);
  padding-top: functions.rem(12);
  padding-bottom: functions.rem(12);
  color: var(--white);
  font-size: functions.rem(16);
  line-height: functions.rem(24);
  font-weight: 400;
  font-family: var(--nunito-font);
  width: fit-content;

  &--full-width {
    width: 100%;
  }

  &:focus {
    outline: var(--white) 1px solid;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--text {
    background: var(--black);
  }
}
