@use "assets/styles/modules/functions";
@use "assets/styles/components/scrollbar";

textarea.react-textarea {
  background: var(--black);
  color: var(--white);
  border: none;
  border-radius: functions.rem(8);
  min-height: functions.rem(150);
  max-height: functions.rem(300);
  padding: functions.rem(16);
  font-size: functions.rem(16);
  width: 100%;

  @extend .scrollbar;
}
