@function rem($val) {
  @return calc($val / 16);
}

@for $i from 1 through 250 {
  .mb-#{$i} { margin-bottom: rem($i) !important }
  .ml-#{$i} { margin-left: rem($i) !important }
  .mt-#{$i} { margin-top: rem($i) !important }
  .mr-#{$i} { margin-right: rem($i) !important }
}
