@use "assets/styles/helpers/mixins";
@use "assets/styles/helpers/variables";
@use "assets/styles/helpers/functions";

:root {
  --scroll-width: 0px;

  /* Base font-size */
  --base-fz: 16;

  --f-min: 12;
  --f-min-px: 12px;
  --f-max: 16;

  --vw-min: 1024;
  --vw-min-px: 1024px;
  --vw-max: 1920;

  /* Fonts */
  --font-nunito: #{variables.$font-nunito};
  --font-space-mono: #{variables.$font-space-mono};

  /* Base spaces */
  @include mixins.spaces(19.2, vw);

  /* Base colors */
  --white: #{variables.$white};
  --black: #{variables.$black};

  --green: #{variables.$green};
  --yellow: #{variables.$yellow};
  --red: #{variables.$red};
  --blue: #{variables.$blue};
  --checkbox: #{variables.$checkbox};
  --disabled: #CCD2DE;
  --filter-des-txt: #BEBFC6;

  --btn-height: #{functions.rem(48)};
  --btn-width: #{functions.rem(120)};

  --animation: 0.3s ease;

  --f1: #{variables.$font}, sans-serif;

  /* Accent */
  --accent-brand: #{variables.$accent-brand};
  --accent-brand-hover: #{variables.$accent-brand-hover};
  --accent-red: #{variables.$accent-red};
  --accent-green: #{variables.$accent-green};

  /* Background */
  --bg-primary: #{variables.$bg-primary};
  --bg-secondary: #{variables.$bg-secondary};
  --bg-secondary-hover: #{variables.$bg-secondary-hover};
  --bg-gradient-brand: #{variables.$bg-gradient-brand};
  --bg-gradient-grey: #{variables.$bg-gradient-grey};

  /* Text & Icon */
  --ti-primary: #{variables.$ti-primary};
  --ti-secondary: #{variables.$ti-secondary};
  --ti-tertiary: #{variables.$ti-tertiary};

  /* Border */
  --border-gradient: #{variables.$border-gradient};
  --border-hover: #{variables.$border-hover};

  @media #{variables.$md-and-down} {
    --btn-height: 40px;
    --btn-width: 130px;
    --header-height: 60px;
  }

  @media (max-width: variables.$tablet-view) {
    /* Base font-size */
    --base-fz: 16;

    --f-min: 12;
    --f-min-px: 12px;
    --f-max: 16;

    --vw-min: 768;
    --vw-min-px: 768px;
    --vw-max: 1280;
  }

  @media (max-width: variables.$mobile-view), (max-height: 500px) {
    /* Base font-size */
    --base-fz: 14;

    --f-min: 14;
    --f-min-px: 14px;
    --f-max: 14;

    --vw-min: 360;
    --vw-min-px: 360px;
    --vw-max: 768;

    /* Base spaces */
    @include mixins.spaces(2, px);

    --btn-width: 100%;
  }
}
